body {position: relative; 
  background-color: #222;
}

.text-media {
  color: #97c93e !important;
}

.exo-btn {
  background-color: #5aad3a;
  color: white;
}
.exo-btn:hover {
  background-color: #1fc21a;
  color: white;
}


#header img {
  width: 120px;
}

#main .carousel-inner img{
  max-height: 70vh;
  height: 686px;
  object-fit: cover;
 
}
#carousel {
  position: relative;
}
#carousel .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 1;
}
#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

#bearing-chick{
  background-color: #343a40;
  color: white;
}
#bearing-chick img{
  max-width: 100%;
  object-fit: contain;
}

#footer{
  background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5472);
}
#footer a {
  text-decoration: none;
  color :white;
}

/* tuttons social*/

#insta-logo {
  display: inline-block;
  background-image: url("./assets/img/i9_instagram.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  width: 100px;
  height: 100px;
}
#twitter-logo {
  display: inline-block;
  background-image: url("./assets/img/i11_twitter.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  width: 100px;
  height: 100px;
}

a.offset-anchor {
  display: block;
  position: relative;
  top: -75px;
  visibility: hidden;
}

.card {
  background: rgb(23, 32, 20);
  background: linear-gradient(324deg, rgb(67, 143, 80) 0%, rgba(255,255,255,0.95) 100%);
  border-radius: 20px;
  border: solid #333 2px;
}
